---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/about/">About</a>
		<h1>About the blog</h1>
        <pre>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum 
            voluptatem molestiae sit illum facilis, consequuntur debitis animi. Quisquam necessitatibus accusantium
             quasi aspernatur eveniet recusandae sit nemo consectetur sed. Id, iusto!</pre>
	</body>
</html>
